<% if @resource.confirmed? %>
  <!-- Password Recovery Email -->
  <% content_for :email_title do %>
    <%= t('email_title', :scope => 'refinery.user_mailer.reset_notification', :site_name => Refinery::Core.site_name) %>
  <% end %>

  <% content_for :email_body do %>
    <p>
      <%= t('reset_request_received_for', :scope => 'refinery.user_mailer.reset_notification', :username => @resource.username) %>
    </p>
    <p>
      <%= t('visit_this_url', :scope => 'refinery.user_mailer.reset_notification') %>:
    </p>
    <p>
      (<%= t('remain_same_if_no_action', :scope => 'refinery.user_mailer.reset_notification') %>)
    </p>
  <% end %>

  <% content_for :action_link do %>
    <%= link_to t('cta_link', :scope => 'refinery.user_mailer.reset_notification'), edit_password_url(@resource, reset_password_token: @token), :style => "padding: 15px; display: block; color: #ffffff; text-decoration: none; font-weight: bold;" %>
  <% end %>

<% else %>
  <!-- Invitation Email -->
  <% content_for :email_title do %>
    <%= t('email_title', :scope => 'refinery.user_mailer.invitation_notification', :site_name => Refinery::Core.site_name) %>
  <% end %>

  <% content_for :email_body do %>
    <% inviting_user = @resource.inviting_user.present? ? @resource.inviting_user : t('unknown_user', :scope => 'refinery.user_mailer') %>
    <% first_name    = @resource.name.split.map(&:capitalize)[0] %>

    <p>
      <%= t('welcome_intro', :scope => 'refinery.user_mailer.invitation_notification', :first_name => first_name) %>
    </p>
    <p>
      <%= t('welcome_first_part', :scope => 'refinery.user_mailer.invitation_notification'), :inviting_user => inviting_user.capitalize, :site_name => Refinery::Core.site_name %>)
    </p>
    <p>
      <%= t('welcome_second_part', :scope => 'refinery.user_mailer.invitation_notification') %>
      <a href="<%= @admin_url %>" target="_blank"><%= @admin_url %></a>
      <%= t('welcome_third_part', :scope => 'refinery.user_mailer.invitation_notification') %>
    </p>

  <% end %>

  <% content_for :action_link do %>
    <%= link_to t('cta_link', :scope => 'refinery.user_mailer.invitation_notification'), edit_password_url(@resource, reset_password_token: @token), :style => "padding: 15px; display: block; color: #ffffff; text-decoration: none; font-weight: bold;" %>
  <% end %>

  <% content_for :email_signoff do %>
    <p>
      <%= t('welcome_outro_first_line', :scope => 'refinery.user_mailer.invitation_notification') %>
    </p>
    <p>
      <%= t('welcome_outro_second_line_beginning', :scope => 'refinery.user_mailer.invitation_notification') %>
      <a href="<%= @site_url %>" target="_blank"><%= Refinery::Core.site_name.capitalize %></a>
      <%= t('welcome_outro_second_line_ending', :scope => 'refinery.user_mailer.invitation_notification') %>
    </p>

  <% end %>

  <% content_for :email_footer do %>

  <% end %>
<% end %>
<%= render 'refinery/email_template' %>
